<div class="row">
  <div class="col-md-12">
    <div class="card box box-info">
      <div class="card-body">
        <div class="d-flex m-b-10">
          <button
            class="btn btn-outline-info waves-effect waves-light d-none mr-2 d-sm-inline-flex"
            (click)="onCreate()"
          >
            <mat-icon>add</mat-icon>
            Crear Usuarios
          </button>
          <button
            class="btn btn-outline-dark waves-effect waves-light d-none d-sm-inline-flex"
            (click)="onCreateAdmin()"
          >
            <mat-icon>add</mat-icon>
            Crear Administrador
          </button>
        </div>

        <app-user-table [role]="role"></app-user-table>
      </div>
    </div>
  </div>
</div>
